<!DOCTYPE html>

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Users</title>       
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>


#persons {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#persons td, #persons th {
  border: 1px solid #ddd;
  padding: 8px;
}

#persons tr:nth-child(even){background-color: #f2f2f2;}

#persons tr:hover {background-color: #ddd;}

#persons th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

</style>         
</head>

<body>
        <br>
        <div th:switch="${users}" class="w3-container">
       <div class="w3-container w3-blue">
       <h2>Person directory</h2>
       </div>       
            <div class="row">
                <div class="col-md-6">
                    <h2 th:case="null">No users yet!</h2>
                    <div th:case="*">
                        <h2 class="my-5"></h2>
                        <table id="persons" class="w3-table-all">
                            <thead>
                                <tr class="w3-green">
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Hobby</th>
                                    <th>Favourite Colour</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.firstName}"></td>
                                    <td th:text="${user.lastName}"></td>
                                    <td th:text="${user.age}"></td>
                                    <td th:text="${user.hobby}"></td>
                                    <td th:text="${user.favouriteColour}"></td>
                                    <td><a th:href="@{/edit/{id}(id=${user.id})}" method="post" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                    <td><a th:href="@{/delete/{id}(id=${user.id})}"  method ="post" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                    <p class="my-5"><a href="signup" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i></a></p>
                </div>
            </div>
        </div>
    </body>
</html>